<h2>Edit <%= resource.email %></h2>

<%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
   
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

<div class ="field">
  <% for category in Category.all %> 
        <div> 
          <%= check_box_tag "user[category_ids][]", category.id, @user.categories.include?(category) %> 
          <%= category.name %> 
        </div> 
    <% end %>
</div>

  <div class="field">
     <i>(leave blank if you don't want to change it)</i>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
<i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
