= bootstrap_form_for [@commentable, @comment] do |f|
  = f.hidden_field :parent_id
  %p.family
    = f.label :New_comment
    %br
  %p.family
   
    = f.text_field :commenter
   
  %p.family
    = f.text_area :body, :rows => 4
  %p.family
    = f.submit "Post Comment"
