<h3>Profile</h3>
<strong>On this E-Mail " <%= current_user.email%> "  you will get info about all news that will be added to this site ;) </strong>

<p>Till now you applied on this Categories of post to get informed about :</p>
<ul>
<% current_user.categories.each do |cat|%>
<li><%= cat.name%></li>
<%end%>
</ul>
<i>you can change them in Edit account</i>