<h2>Log in</h2>

<%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
   
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
    
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in",:class=>"btn btn-default" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
