<%= bootstrap_form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class ="field">
  <%= collection_check_boxes(:post, :category_ids, Category.all, :id, :name)%>
</div>
  <div class="field">
    
    <%= f.text_field :title %>
  </div>
  <div class="field">
   
    <%= f.text_area :description %>
  </div>
  <div class="field">
    
    <%= f.text_area :body,:class => "redactor", :rows => 10, :cols => 15 %>
  </div>

  <div class="actions">
    <%= f.submit :class=>"btn btn-primary family fs"%>
  </div>
<% end %>
