<p id="notice"><%= notice %></p>

    <% @posts.each do |post| %>
     <div class="postdiv">
        <h3 ><%= link_to post.title ,post,:class=>"btn-link family fff"%><br/>
        <small class="family fs" ><%= post.description %></small></h3>
         <footer class="ss family">Created <%= time_ago_in_words(post.created_at) %> ago</footer>
         <footer class="ss family">Comments <%= post.comments.count%></footer>   
      <!--  <%= link_to 'Edit', edit_post_path(post),:class=>"btn btn-default btn-xs"  %> 
        <%= link_to 'Destroy', post,:class=>"btn btn-default btn-xs" , method: :delete, data: { confirm: 'Are you sure?' } %>
        -->
        
       </div>
    <% end %>
 
<br>
<%= will_paginate @posts, renderer: BootstrapPagination::Rails ,:class=>"pagin" %>

