<p id="notice"><%= notice %></p>
<div class="postdiv" style="padding-bottom:10px;">
<h3 class="family"><strong>  <%= @post.title %> </strong> 
<small class="ss" >Posted: <%= time_ago_in_words(@post.created_at) %> ago</small>
</h3>

 <h5 style="padding-bottom:10px;" class="family"> <%= @post.description %></h5>

<p class="family">
  <%= @post.body.html_safe %>
</p>
<!--
<%= link_to 'Edit', edit_post_path(@post) %> |-->
<%= link_to 'Back', posts_path ,:class=>"btn btn-default family"%>
</div>
<h4 class="family">Comments :</h4>
<%= nested_comments @comments%>
<%= render "comments/form"%>


