/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require rails_bootstrap_forms
 *= require_tree .
 *= require_self
 *= require redactor-rails
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 .hed{
 	background-color: #E6E6FA;
 }

.navbar-default {
	background-color: #E6E6FA;
	letter-spacing: 1px;
	height: 50px;
	padding-left:15px;
	border: none;

}
.c{
	colore:#e3e3d2;
}
.pos {
	float: right;
	padding:5px;
	margin-top:10px;
	margin-right:10px;
}
.poss {
	margin-top:15px;
}
#poss {
	margin-top:15px;
}
.w {
	width: 100%;
}
.postdiv {
	
	border-bottom:1px solid #FFB6C1;
}
.pagination {
	padding-left: 30%;
}
.commentdiv{
	margin: auto auto;
	margin-bottom: 15px;
	border-radius: 0px 20px 20px 20px;
-moz-border-radius: 0px 20px 20px 20px;
-webkit-border-radius: 0px 20px 20px 20px;
border: 0px solid #ffccff;
width:60%;
background-color:white;
	padding:2px 0px 5px 15px;
	-webkit-box-shadow: 2px 0px 8px 1px rgba(171,159,189,0.48);
-moz-box-shadow: 2px 0px 8px 1px rgba(171,159,189,0.48);
box-shadow: 2px 0px 8px 1px rgba(171,159,189,0.48);
	
}
.col-md-offset-1{
	margin-left: 2%;
	margin-right: 2%;
}
#content{

	border-left: 1px solid #FFB6C1;
}

.family {
	font-family: Annie Use Your Telescope;	
}
.f{
	font-size: 20px;
	padding: 10px;}
.ff{
	font-weight:bold;
	font-size: 20px;
	padding: 5px;
	
}
.fff{
	
	font-weight:bold;
	font-size: 20px;
	
}
.fs {font-size:16px;
font-weight:bold;}
#small {
	font-size:10px;
}
.ss{font-size:14px;
font-weight:bold;
	color:#000;
}
label {
    font-family: Annie Use Your Telescope;	
}