<!DOCTYPE html>
<html>
<head>
  <title>App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Annie+Use Your Telescope' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
<div  class="container w hed">
<nav class="navbar navbar-default w">
<ul class="nav navbar-nav ">
<p class="navbar-brand family fff ">News Portal</p>

 <li class="family ff"><%= link_to "All Posts",posts_path %> </li>
<% @categories.each do |c| %>
<li class="family ff">  <%= link_to c.name, posts_path(c) %></li>
<% end %>
</ul>
<% if user_signed_in? %>
   <%= link_to 'Sing Out', destroy_user_session_path, method: 'delete',:class=>"btn btn-default pos family fff" %> 
  <% else %>
   <%= link_to 'Sing In', new_user_session_path, method: 'post',:class=>"btn btn-primary pos family fff"  %>
  <% end %>
  <%if user_signed_in?%>
   <%= link_to 'Go Admin','admin#login',:class=>"btn btn-primary pos family fff" %>
  <%end%>
</nav>
</div>
<div class="container w">
        <div id="sidebar" class="col-xs-2">
          <!-- sidebar content -->
       <%if user_signed_in? %>
<%= link_to 'New Post', new_post_path,:class=>'btn btn-primary family fs poss' %>
   </br>
   <%= link_to 'Profile', users_path,:class =>"btn btn-primary family fs poss" %>
   </br>
   
   <%= link_to 'Edit account', edit_user_registration_path,:class=>"btn btn-warning family fs poss" %>
   <%else%>
   <%=image_tag("me.jpg",:class =>'img-circle poss',size: "120x120")%>
   <p class="f family">
      Developed by:</br>
     Somar Melhem </br>
     jonior developer</br> 
     Ruby on Rails 

   </p>
   <%end%>
   </div>
   <div id="content" class="col-xs-9">
          <!--  main content -->
   

<%= yield %>
     </div>
</div>
</body>
</html>
